.layoutContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0;
}

.mainContent {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 1%;
  min-height: 100vh;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .layoutContainer {
    flex-direction: row;
  }
}
